* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  *:before, *:after {
   box-sizing: border-box;
  }

body {
    background-color: #1C1D21;
    font-family: 'Inconsolata', monospace;
    color: #F1F0EA;
	animation: gradientBG 5s ease infinite;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}

h1 {
  font-size: 8.6rem;
  margin-bottom: 40px;
}

#second-line {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 150px;
}

p {
    width: 55%;
    font-size: 2rem;
    margin-bottom: 20px;
}


.blinker:after {
    content: '.';
    animation: blink 1.3s infinite;
    padding: 0;
    margin-left: -8px;
}

@keyframes blink {
  40% {
    opacity: 0;
  }
}

.border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.54);
}

.proj-cont-border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.54);
    margin-bottom: 100px;
}

h2 {
    font-size: 3.5rem;
    margin-bottom: 120px;
    font-family: 'Inconsolata', monospace;
    color: inherit;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #F1F0EA;;
    top: -5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease-in;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

#contact-heading {
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.intro-section {
    font-family: 'Inconsolata', monospace;
    background-color: #1C1D21;
    margin: 0 auto;
    height: 100%;
    min-height: calc(100vh - 140px);
    width: 100vw;
    padding: 5px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects-section {
    background-color: #1C1D21;
    height: 100%;
    margin: 0 auto;
    padding: 30px 15px 60px;
    font-family: 'Roboto', sans-serif;

}
.projects-cards-grid {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 120px;
    column-gap: 50px;
    width: 85%;
    max-width: 1400px;
}
.card {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.projects-imgs {
    max-width: 100%;
    height: auto;
    border-radius: 3px;
    margin-bottom: 20px;
}

.half-img {
    width: 45%;
    height: auto;
    border-radius: 15px;
}

/* .calc-img {
    object-fit: cover;
    width: 80%;
    height: 80%;
    border-radius: 50%;
} */

.projects-header {
    display: flex;
    justify-content: space-between;
}

.projects-header a {
    color: white;
    height: 59px;
    font-size: 1.5rem;
    margin: 5rem 2rem 0 0;
}

.icon-links-container a {
    color: white;
}

.contact-section {
    width: 100vw;
    margin: 0 auto;
    padding: 30px 40px 60px;
    background: linear-gradient(-35deg, #434343 0%, #000000 30%);
}

h3 {
    color: rgba(225, 225, 225.7);
    font-size: 2.7rem;
    font-weight: 600;
}
h4 {
    color: rgba(225, 225, 225.7);
    font-size: 1.6rem; 
    font-weight: 500;
    margin: 35px 0 10px;
}

.projects-section li {
    margin-left: 1rem;
    list-style-type: disc;
    list-style-position: outside;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7rem;
}

.contacts-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto; 
    grid-gap: 80px;
    width: 100%;
    max-width: 1000px;
}

.icon-links-container {
    margin-top: 5px;
}

.projects-cards-wrapper {
    display: flex;
    justify-content: center;
}
.contact-items-wrapper {
    display: flex;
    justify-content: center;
}

.tech-label {
    color: white;
    margin-right: 10px;
    background-color: grey;
    padding: 5px;
    border-radius: 3px;

}


.proj-card-heading {
    display: flex;
    align-items: center;
}

.logos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 300px;
}

.portfolio-icon {
    width: 50%;
    height: auto;
    align-self: auto;
}


a {
    color: #B80C09;
}

.card a {
    text-decoration: none;
}

.card-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
}


/* Logos */
#GitHub-logo {
    width: 80%;
    height: 100%;
    transition: transform .2s;
}
#LinkedIn-logo {
    width: 100%;
    height: 100%;
    transition: transform .2s;
}
#GitHub-logo:hover {
    transform: scale(1.05);
}
#LinkedIn-logo:hover {
    transform: scale(1.05);
}


/* Nav Bar */
ul {
    display: flex;
    list-style: none;
}
nav a {
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 30px;
    color: inherit;
}

nav {
    font-family: 'Inconsolata', monospace;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    color: white;
    width: 100%;
    margin: 0 auto;
    background-color: #1C1D21;
}

.form-container {
    margin: 0 auto;
    /* background-color: white;
    color: black; */
    width: 100%;
    border-radius: 5px;
}

.form-text {
    display: block;
    font-size: 18px;
    margin: 12px 0px 8px;
}

input {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    font-size: 18px;
    padding-left: 6px;
    border: 1px solid #d1d5da
}

button {
    display: block;
    width: 100%;
    height: 65px;
    margin-top: 15px;
    border-radius: 3px;
    font-size: 18px;
    color: white;
    background-color:#2ebc4f;
    border-color: #2ebc4f;
}

#message-input {
    height: 200px;
    width: 100%;
    font-size: 18px;
    padding: 5px;
    border: 1px solid #d1d5da;
    border-radius: 3px;
}

textarea {
    resize: none;
}

h1 {
    animation: fadeIn 3s;
}

p {
    animation: fadeIn 5s;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



@media (max-width: 1258px) {
    .projects-cards-grid {
    }
}

@media (max-width: 973px) {
    .projects-cards-grid {
        width: 100%;
    }

    .proj-cards-headings {
        height: 80px;
    }
}

@media (min-width: 876px) {
    h1 {
        font-size: 8rem;
    }
}

@media (max-width: 876px) {
    h1 {
        font-size: 7.5rem;
    }

    p {
        width: 70%;
    }

    .projects-cards-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 50px;
    }
}

@media (max-width: 626px) {
    h1 {
        font-size: 4.5rem;
    }

    p {
        width: 100%;
    }

    .projects-cards-grid {
        grid-template-columns: 1fr;
        grid-row-gap: 25px;

    }

    .proj-card-heading {
        height: 100%;
    }
}

@media (max-width: 530px) {
    h1 {
        font-size: 4.5rem;
    }

    .projects-section {
        padding-bottom: 80px;
    }


    .contacts-grid {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .contact-section {
        padding: 10px 10px 100px;
    }

    #contact-heading {
        font-size: 2rem;
        margin-bottom: 20px;
    }
}

@media (max-width: 434px) {
    h1 {
        font-size: 3rem;
    }
}

@media (max-width: 337px) {
    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 1.5rem;
    }
}


/* @media (max-width: 1137x) {
    h1 {
        font-size: 11rem;
    } */

@media (min-width: 1348px) {
    h1 {
        font-size: 13rem;
    }
}
@media (min-width: 1600px) {
    h1 {
        font-size: 15rem;
    }

    p {
        font-size: 3.5rem;
    }
}

